@font-face {
    font-family: 'Geist-bold'; /* Name for the bold font */
    src: url('./JetBrainsMonoNerdFont-Bold.ttf') format('truetype'); /* Correct format */
}

@font-face {
    font-family: 'Geist-regular'; /* Name for the bold font */
    src: url('./JetBrainsMonoNerdFont-Regular.ttf') format('truetype'); /* Correct format */
}
body,
ul {
      font-family: 'Roboto Mono', monospace;
  font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mainxd {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: column; 
}

.list-item {
    color: red; 
    justify-content: center; 
    align-items: center;
    display: block;
    block-size: auto;
    width: auto; 

    height: auto;
}

.list-item .title a {
    font-size: 18px; 
    color: #fff; 

    text-underline-offset: 0.3rem;
text-decoration-thickness: 0.1em;
}

  .list-item .title a:hover {
    background-color: red; 
}
.list-item br {
}

.list-item .date {
    font-size: 15px; 
    color: gray; 
}

.list-item .readmore {
    color: white;
    font-size: 15px; 

    text-underline-offset: 0.3rem;
text-decoration-thickness: 0.1em;
}

  .list-item .readmore:hover {
    background-color: red; 
}
body {


    background-color: #181818;
    color: #333;
    align-items: center;
    justify-content: center;
    text-align: center;

}

header {
    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;
    justify-content: space-between;

  background-color: rgb(46, 45, 45);

    border: 1px solid rgba(255, 255, 255, 0.3);

    overflow-x: scroll;


    border-radius: 2px;
    color: #fff;
    margin: 1.0rem 1.0rem;

}

header h1 {

    font-size: 20px;


}


nav {

}

nav ul {

    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 1rem 1rem;
}

header h1 {
    margin: 1rem 1rem;

}

nav ul li a {

    display: inline list-item;


    font-size: 16px;
    padding: auto;
    color: #fff;
    transition: background-color 0.3s;
    text-underline-offset: 0.3rem;
text-decoration-thickness: 0.1em;
    width: 10px;
    height: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    background-color: red;
}

main {
    padding: 20px 20px;
    margin: auto auto;
    width: 40%;
    text-align: left;
    justify-content: center;
align-items: center;
display: block;
}
p {
    font-size: 1.0rem;
    margin-bottom: 20px;
    color:white;
}     
h2 {

    font-family: 'Geist-Bold', sans-serif; /* Use Geist-Regular for body text */
    font-size: 1.2rem;
    margin-bottom: 20px;
    color:white;
}
.post {
  color:white;

    font-family: 'Geist-Regular', sans-serif; /* Use Geist-Regular for body text */
}
.post .tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.post li{
  margin-right: 0.5rem;
  background-color: rgb(46, 45, 45);
  padding: 0.1rem 0.2rem;
}
.post .date {
  color:gray;
  font-size: 1.0rem;
}
.post h1{
    font-size: 1.6rem;
}
.post h2{

    font-size: 1.4rem;
}
.post p{
    font-size: 0.8rem;
}

.post a {
color:white;
    text-underline-offset: 0.3rem;

text-decoration-thickness: 0.1em;
}
.post a:hover {
background-color: red;
}
.post .readmore {
  
    text-underline-offset: 0.3rem;

text-decoration-thickness: 0.1em;
}
.post pre {
    padding: 16px; /* Padding inside the code block */
    overflow: auto; /* Enable scrolling for long code blocks */
    margin: 16px 0; /* Margin to separate from surrounding content */
    font-size: 10px; /* Font size for better readability */
    line-height: 1.5; /* Line height for spacing between lines */
}

.post code {
    background-color: rgb(46, 45, 45);
    color: white; /* Color for inline code text */
    padding: 2px 4px; /* Padding for inline code */
    margin: 5px 5px;
}
a {
  color:white;

    text-underline-offset: 0.3rem;


text-decoration-thickness: 0.1em;
}

a:hover{
  background-color:red;

    text-underline-offset: 0.3rem;


text-decoration-thickness: 0.1em;
}
