@font-face {
    font-family: 'Geist-bold'; /* Name for the bold font */
    src: url('./JetBrainsMonoNerdFont-Bold.ttf') format('truetype'); /* Correct format */
}

@font-face {
    font-family: 'Geist-regular'; /* Name for the bold font */
    src: url('./JetBrainsMonoNerdFont-Regular.ttf') format('truetype'); /* Correct format */
}
body,
ul {
      font-family: 'Roboto Mono', monospace;
  font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mainxd {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: column; 
}

.list-item {
    color: red; 
    justify-content: center; 
    align-items: center;
    display: block;
    block-size: auto;
    width: auto; 

    height: auto;
}

.list-item .title a {
    font-size: 18px; 
    color: #fff; 
}

  .list-item .title a:hover {
    background-color: red; 
}
.list-item br {
}

.list-item .date {
    font-size: 15px; 
    color: gray; 
}

.list-item .readmore {
    color: white;
    font-size: 15px; 
}

  .list-item .readmore:hover {
    background-color: red; 
}
body {


    background-color: #181818;
    color: #333;
    align-items: center;
    justify-content: center;
    text-align: center;

}

header {
    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;
    justify-content: space-between;

    background-color: rgba(120, 122, 124, 0.363);

    border: 1px solid rgba(255, 255, 255, 0.3);

    overflow-x: scroll;


    border-radius: 2px;
    color: #fff;
    margin: 1.0rem 1.0rem;

}

header h1 {

    font-size: 24px;


}


nav {

}

nav ul {

    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 1rem 1rem;
}

header h1 {
    margin: 1rem 1rem;

}

nav ul li a {

    display: inline list-item;


    font-size: 16px;
    padding: auto;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 10px;
    height: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    background-color: rgb(26, 25, 25);
}

main {
    padding: 20px 20px;
    margin: auto auto;
    width: 40%;
    text-align: left;
    justify-content: center;
align-items: center;
display: block;
}
p {
    font-size: 1.0rem;
    margin-bottom: 20px;
    color:white;
}     
h2 {

    font-family: 'Geist-Bold', sans-serif; /* Use Geist-Regular for body text */
    font-size: 1.2rem;
    margin-bottom: 20px;
    color:white;
}
